{% extends 'master.html' %}

{% block content %}

<div class="content">
	<div class="content">
			<div class="card ml-5 mr-5 mt-5 mb-5 pt-5 pb-5 pl-5 pr-5">
				<center>
					<h1 class="badge-danger">Votre license a expiré !</h1>
					<br><br><br>
					<h3>Renouvelez votre abonnement afin de continuer à utiliser le logiciel iMart.</h3>
				</center>
				<hr>

						<p class="mt-5">
							<strong>KITS SARL</strong><br>
							Tél. : +243 81 583 60 68<br>
							Commercial : M. Mike Kamande<br>

						</p>

			</div>
	</div>
</div>

{% endblock %}