{% extends 'master.html' %}
{% load static %}

{% block content %}

 {% if warning %}
            {% include 'license_message.html' %}
        {% endif %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Détails du Poste</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="{% url 'dashboard' %}">Tableau de bord</a></li>
                                    <li><a href="{% url 'positions' %}">Postes</a></li>
                                    <li class="active">Vue</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

               <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-right">
                                        
                                        <a href="{% url 'position_edit' item.pk %}" class="btn btn-info">Modifier</a>
                                        <a href="{% url 'position_delete' item.pk %}" class="btn btn-outline-danger">Supprimer</a>
                                        
                                   </div>
                        
                                                {% if item.isAvailable %}
                                                <span class="badge btn-success">Disponible</span>
                                                {% else %}
                                                <span class="badge btn-danger">Occupé</span>
                                                {% endif %}

                            <p><h2><b>{{ item.designation }}</b></h2><span></span><br></p>


                            <div class="row">
                                <div class="col-md-6 float-left">
                                    <br>
                                    <b>Description</b><br>
                                    <p>{{ item.description }}</p>
                                    <br><br>

                                    <b>Departement</b><br>
                                    <p>{{ item.department }}</p>
                                    <br><br>

                                    <b>Salaire</b><br>
                                    <p>{{ item.salary|floatformat:0 }} {{ ent.devise }}</p>
                                    <br><br>
                                </div>
                                <div class="col-md-6 float-right">                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}